@import '../../node_modules/bulma/sass/utilities/initial-variables';

$p-color: #91d18b;
$s-color: #e11d74;
$f-color: #4bacf2;
$b-color: #1d1d30;

$info: saturate($f-color, 20%);
$warning: #ffda07;
$success: saturate($p-color, 20%);
$error: #ff4848;

// $text: $p-color;
// $text-strong: $f-color;
